.product-form{
  width: 300px;
  margin: 20px auto;
};
.product-form > input, .product-form > select  {
  width: 100%;
  margin: 5px;
}
.address{
  margin-left: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}
.address.active{
  display: block;
}
